.main-content {
  padding-top: 0px;
}
.navbar-header {
  .navbar-brand {
    padding-left: 0;
  }
}
.navbar-filter {
  background-color: #fff;
  margin-bottom: 0;
  z-index: 3;
  position: static;
  height: 123px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  &.affix {
    position: fixed;
  }
  .navbar-nav > li {
    padding: 0 7px;
    > a {
      padding-top: 10px;
      padding-bottom: 4px;
      padding-left: 0;
      padding-right: 0;
    }
    &.active {
      a {
        color: #7ead1a;
        border-bottom: 1px solid #666666;
        span {
          border-color: transparent;
        }
      }
    }
  }
  .navbar-left, .navbar-right {
    margin-left: 0;
    > li {
      margin-right: 35px;
      padding-left: 0;
      padding-right: 0;
      > a {
        padding: 8px 0 4px 0;
      }
    }
  }
  .navbar-right {
    margin-right: 0;
    > li {
      margin-right: 0px;
      margin-left: 13px;
      > a {
        padding-bottom: 7px;
      }
    }
  }
  .nav-price {
    .glyphicon {
      font-size: 7px;
    }
  }
}
.navbar-main {
  border: none;
}
.navbar-left {
  margin-left: -15px;
}
.navbar-default {
  margin-bottom: 0;
  background-color: #91a2ad;
  border-color: #91a2ad;
  border-radius: 0;
  border: none;
  z-index: 4;
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav > li > a {
    .iconzoopy {
      margin-left: 7px;
    }
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #e9f6ff;
  }
  .navbar-nav > .open > a, 
  .navbar-nav > .open > a:hover, 
  .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #e9f6ff;
  }
  &.navbar-background {
    border: none;
    z-index: 4;
  }
  .navbar-brand {
    color: #fff;
    font-weight: bold;
    &:hover, &:focus {
      color: #fff;
    }
  }
  .navbar-nav>li>a,
  .navbar-nav>.active>a, 
  .navbar-nav>.active>a:focus, 
  .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
  }
  li.dropdown {
    margin-left: 92px;
  }
  &.affix {
    right: 0;
    left: 0;
    z-index: 3;

    .navbar-nav>li>a,
    .navbar-nav>.active>a, 
    .navbar-nav>.active>a:focus, 
    .navbar-nav>.active>a:hover {
      // color: #000;
      background-color: transparent;
    }
  }

  &.navbar-main {
    .navbar-brand.navbar-brand-inverse, .navbar-brand.affix {
      color: #91a2ad;
    }

    .navbar-brand {
      position: fixed;
      z-index: 4;
    }
  }
}
.watch {
  display: inline-block;
  line-height: 52px;
  margin-right: 24px;
  margin-top: 24px;
  position: relative;
}
.date-days {
  display: inline-block;
  margin: 0 3px 0 3px;
  p  {
    top: -21px;
    position: relative;
    width: 56px;
    margin-top: -10px;
    padding-bottom: 4px;
    border-bottom: 3px solid #000;
  }
}
.date-choice {
  height: 54px;
  top: -3px;
  line-height: 54px;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  display: inline-block;
  padding: 0 40px 0 20px;
  position: relative;
  cursor: pointer;
  .corner-cut {
    overflow: hidden;
    width: 20px;
    height: 20px;
    right: -1px;
    top: -1px;
    position: absolute;
    display: none;
  }
  .corner-circle {
    position: absolute;
    opacity: 1;
    top: -10px;
    right: -10px;
    border-radius:0 0 0 12px;
    border-color: #d3d3d3;
    border-top-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    width: 22px;
    height: 22px
  }
  .close {
    display: none;
    color: #999999;
    font-size: 14px;
    position: absolute;
    opacity: 1;
    top: -11px;
    right: -9px;
    padding: 3px;
  }
  &:hover {
    .corner-cut, .close {
      display: block;
    }
  }
  a.calendar {
    display: block;
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: #c0c0c0;
    font-size: 12px;
    height: 12px;
    line-height: 1;
    &:hover, &:focus {
      color: #000;
      text-decoration: none;
    }
  }
  p {
    position: relative;
    top: 3px;
    line-height: 52px;
    margin-bottom: 0;
    font-size: 45px;
    font-family: 'Flexy Regular';
  }
  .date-month {
    font-size: 30px;
    margin-left: 5px;
  }
}
.navbar-default .navbar-user {
  margin: 12px 0 12px 0;
  background-color: #788b9a;
  border-radius: 5px;
  > li {
    a {
      border: 2px solid transparent;
      background-color: #788b9a;
      padding: 6px 16px;
      border-radius: 4px;
      &:hover, &:focus {
        color: #e9f6ff;
      }
    }
    &.active {
      a {
        border-color: #cdd7de;
        &:hover, &:focus {
          border-color: #e1efaa;
        }
      }
    }
    &:first-child {
      margin-right: 24px;
      padding-left: 8px;
    }
  }
}
.navbar-create-user {
  background-color: #788b9a;
  a.avatar {
    padding: 10px 11px 10px 26px;
    display: inline-block;
    img {
      margin-right: 11px;
      border-radius: 4px;
    }
  }
}
.navbar-login {
  span {
    font-size: 11px;
  }
}
.nav-price {
  span {
    font-size: 8px;
  }
}