@font-face {
    font-family: 'Flexy Regular';
    src: url('../fonts/flexy31-webfont.eot');
    src: url('../fonts/flexy31-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flexy31-webfont.woff2') format('woff2'),
         url('../fonts/flexy31-webfont.woff') format('woff'),
         url('../fonts/flexy31-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a {
  .dotted {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted $link-color;
  }
  &:hover, &:focus {
    .dotted {
      text-decoration: none;
      border-bottom: 1px dotted $link-hover-color;
    }
  }
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
}
h1.watch {
  font-family: 'Flexy Regular';
  font-size: 45px;
  a {
    color: #000;
    display: inline-block;
    background: url(../img/dashed.gif) repeat-x 2px bottom;
    line-height: 41px;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus {
      color: #cc3333;
      text-decoration: none;
      background-image: url(../img/dashed_red.gif);
    
    }
  }
}

.text-sm {
  font-size: 12px;
  margin-bottom: 3px;
}
dl {
  margin-bottom: 17px;
}
.rub {
  font-style: normal;
  font-family: 'pt_sansregular', serif;
}
.favorite {
  font-size: 19px;
}
.label-price.label-is-price {
  font-size: 19px;
  color: #000;
  padding: 1px 5px 1px;
  line-height: 24px;
  height: 24px;
  .rub {
    font-size: 16px;
    margin-left: 1px;
  }
}
.btn-submit {
  font-size: 14px;
  line-height: 33px;
  height: 33px;
  background-color: #dbef8c;
  color: #000;
  border-color: #c7d6b5;
  padding: 0 20px;
  &:hover, &:focus {
    border-color: #abc094;
  }
  &:active {
    border-color: #c5d77f;
    background-color: #c5d77f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.btn-lime {
  border-color: #c7d6b5;
}
.btn-xs, .btn-group-xs > .btn, .btn-group-xs > .btn {
  padding: 0px 6px 1px;
  line-height: 20px;
}
