
a, a:focus {
  outline: none;
}
.container-fluid.alert.alert-warning {
	background-color: #ffee9f;
	border-radius: 0;
	border: none;
	font-size: 19px;
	color: #000;
	padding-bottom: 18px;
	h3 {
		font-size: 29px;
		margin-top: 11px;
	}
}

.container-map {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;
	border-top: 1px solid #e0d8c3;
	border-bottom: 1px solid #e0d8c3;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
}
.container-map + .container {
	.dl-profile {
		margin-top: 38px;
		&:first-child {
			margin-top: 31px;
		}
	}
}

.table-create-profile {
	max-width: 770px;
	a.edit-property {
		position: relative;
		top:2px;
	}
	a.edit-property, .close {
		opacity: 0;
	}
	.undo-property {
		color: #999999;
	}
	.icon-shpritz-yes,
	.icon-shpritz-no {
		position: relative;
		top: 3px;
	}
	.icon-shpritz-no {
		fill: #7f7f7f;
		color: #7f7f7f;
	}
	> tbody > tr {
		> td {
			padding-left: 11px;
			padding-right: 11px;
			vertical-align: middle;
			&:nth-child(2) {
				width: 230px;
			}
		}
	}
	tr:hover {
		td {
			background-color: #f6ffc4;
		}
		a.edit-property, .close {
			opacity: 1;
			color: #999999;
			text-decoration: none;
			&:hover {
				span {
					color: #000;
				}
			}
		}
	}
	tr.disabled {
		color: #b3b3b3;
		text-decoration: line-through;
		a.undo-property {
			opacity: 1;
		}
		.icon-shpritz-yes,
		.icon-shpritz-no {
			color: #b3b3b3;
			fill: #b3b3b3;
			position: relative;
			&:after {
				position: absolute;
				left: 0;
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				top: 50%;
				background-color: #b3b3b3;
			}
		}
	}
	tr:first-child {
		td {
			border-top: none;
		}
	}
}
.pet-list {
	padding-left: 40px;
  margin-bottom: 33px;
	[class^="iconzoopy-pet"], [class*=" iconzoopy-pet"] {
		font-size: 24px;
    margin-left: -40px;
    position: relative;
    top: 5px;
    margin-right: 10px;
	}
	.pet-item {
		color: #000;
		margin-top: -4px;
		display: inline-block;
		&:hover, &:focus {
			text-decoration: none;
		}
		&.collapsed {
			text-decoration: none;
			color: #999;
		}
	}
}
.pet-prices {
	margin-left: 3px;
	display: inline-block;
	/* &.form-inline {
		position: relative;
		top: -7px;
	} */
	&.pet-prices-second {
		margin-left: 11px;
	}
}
.pet-price-range {
	display: inline-block;
	em {
		width: 13px;
		height: 1px;
		display: inline-block;
		background-color: #000;
		margin-left: 2px;
		margin-right: 1px;
		position: relative;
		top: -3px;
		&.hide {
			display: none;
		}
	}
}
.form-pet {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: -5px;
	.radio-inline {
		margin-right: 8px;
		margin-bottom: 19px;
	}
}
.pet-type {
  top: -1px;
  display: inline-block;
  position: relative;
  text-transform: lowercase;
}
.pet-add-price-type {
	text-decoration: none;
  margin-left: 11px;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.checkbox-pet-range {
  margin-left: 40px;
  margin-top: -2px;
}
.dropdown-pet-pay {
    margin-right: 10px;
    margin-left: 3px;
    top: 1px;
    position: relative;
	&:hover {
		text-decoration: none;
	}
	.caret-icon {
		color: #999;
		text-decoration: none;
	}
}
.dropdown-pet-price-type {
	.dropdown-menu {
		min-width: auto;
		margin-top: -30px;
		margin-left: -11px;
		.iconzoopy {
			position: absolute;
			display: none;
			top: 5px;
			left: 5px;
		}
		li {
			position: relative;
		}
		.checked {
			.iconzoopy {
				display: block;
			}
		}
	}
}
.checkbox-left-indent {
	margin-left: 10px;
}
.form-bottom-indent {
	margin-bottom: 20px;
	margin-top: 10px;
}
.ml40 {
	margin-right: 10px;
	margin-left: -37px;
}
.container-calendar {
	background-color: #f3f2e8;
	padding: 20px 0;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
}
.row-dd {
	padding: 4px 0px;
}
.col-text {
	float: left;
}
.col-vrezka {
	width: 190px;
	float: left;
	margin-left: 38px;
	font-size: 12px;
	margin-bottom: 30px;
	margin-top: -3px;
	p {
		margin-bottom: 12px;
	}	
}
.col-sm {
	float: left;
	width: 417px;
	padding-bottom: 17px;
	padding-left: 28px;
	line-height: 33px;
	img {
		margin-right: 10px;
	}
}
.col-lg {
	padding-left: 28px;
	img {
		margin-right: 7px;
	}
}
.nickname {
	margin-right: 15px;
	.remove-connection {
		position: relative;
		top:2px;
		margin-left: 5px;
		color: transparent;
		.iconzoopy {
			color: #666;
			margin-right: 4px;
			top: -1px;
			position: relative;
		}
		&:hover, &:focus {
			opacity: .7;
			color: #666;
			text-decoration: none;
		}
	}
}
.upload {
	margin-top: 17px;
	border: 2px dashed #b7b7b7;
	text-align: center;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	flex-direction: column;
	margin-bottom: 60px;
}
.create-profile-list {
	margin-left: 0;
	li {
		padding-left: 0;
		padding-right: 0;
		a {
	    height: 28px;
	    line-height: 28px;
	    padding: 0 11px;
	    display: inline-block;
	    span {
	    	line-height: 1.3;
	    }
		}
		&.active {
			a {
				border-radius: 4px;
	    	background-color: #f1f0e4;
	    	&:focus {
	    		color: #000;
	    	}
			}
			span.dotted {
				border-bottom-color: transparent;
			}
		}
		&:first-child {
			margin-left: -11px;
		}
	}
}
.addr-propery {
	max-width: 600px;
	min-width: 411px;
}
.tab-content {
	> .active {
		&.tab-pane-addr {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 20px;
    		margin-bottom: 19px;
			.create-profile-comment {
				p {
					font-size: 12px;
					margin-bottom: 0;
				}
			}
			.addr-propery {
				flex-direction: column;
				display: flex;
				min-height: 154px;
				justify-content: space-between;
				p {
					margin: 5px 0;
				}
			}
		}	
	}
}
.movemen-square {
	margin-right: 19px;
	& + .form-control {
		margin-right: 4px;
	}
}
.container-footer {
	height: 170px;
	position: relative;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 70%, #e3e3e3 100%);
	background: -webkit-linear-gradient(top, #f8f8f8 70%, #e3e3e3 100%);
	background: linear-gradient(to bottom, #f8f8f8 70%, #e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 );
	border-top: 1px solid #e5e5e5;
	.col-xs-12 {
    min-height: 170px;
	}
	.dl-horizontal.dl-profile {
		margin-top: 25px;
	}
	.text-check {
		line-height: 44px;
		float: left;
		margin-left: 38px;
		span {
			line-height: 1;
		}
	}
}
.addr-propery {
  border-right: 1px solid #ccc;
  position: relative;
  margin-right: 20px;
  &:before, &:after {
    display: block;
    content:'';
    position: absolute;
    width: 4px;
    height: 4px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    right: -1px;
  }
  &:before {
    top:-4px;
    border-top-right-radius: 4px;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &:after {
    bottom:-4px;
    border-bottom-right-radius: 4px;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .caret-right {
		position: absolute;
		top:50%;
		right: -3px;
  	margin-top: -2px;
  	border-left-color: #ccc;
		&.caret-white {
			border-left-color: #fff;
			right: -2px;
		}
  }
}
.navbar-create-profile {
	background: -moz-linear-gradient(left,  rgba(145,162,173,1) 0%, rgba(145,162,173,1) 50%, rgba(120,139,154,1) 51%, rgba(120,139,154,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(145,162,173,1) 0%,rgba(145,162,173,1) 50%,rgba(120,139,154,1) 51%,rgba(120,139,154,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(145,162,173,1) 0%,rgba(145,162,173,1) 50%,rgba(120,139,154,1) 51%,rgba(120,139,154,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	.navbar-collapse {
		background-color: rgba(145,162,173,1);
	}
}

.col-sm-padding-zero {
	float: left;
	width: 267px;
	padding-bottom: 17px;
	line-height: 33px;
}
.row-soc {
    display: block;
    float: left;
    margin-bottom: 16px;
}
.conection {
	margin-bottom: 36px;
	float: left;
	margin-top: 9px;
}
.create-profile-photo {
	position: relative;
	display: inline-block;
// .photo-house {
	margin-right: 22px;
	margin-bottom: 20px;
	.iconzoopy {
		display: none;
		position: absolute;
		width: 15px;
		height: 15px;
		right: -7px;
		top: -6px;
		background-color: #fff;
		padding: 3px;
		border-radius: 50%;
		color: #999;
	}
	&:hover, &:focus {
		.iconzoopy {
			display: block;
		}
	}
}
.posrel {
	position: relative;
	min-height: 170px;
}
.form-horizontal.form-margin-left-zero {
	margin-top: 25px;
	.btn-add {
		width: 129px;
	}
	.form-group {
		margin-left: 0;
	}
}
.user-photo {
	width: 129px;
	height: 129px;
	background-color: #e4e3d6;
	border-radius: 5px;
	position: relative;
	.iconzoopy {
		color: #f1f0e4;
		fill: #f1f0e4;
		position: absolute;
		bottom: -4px;
	    width: 129px;
	    height: 120px;
	}
}
.sex-all,
.sex-man,
.sex-woman {
	width: 16px;
	height: 23px;
	position: relative;
	&:after {
		left: -15px;
		top:6px;
		position: absolute;
		display: none;
		content: '';
		width: 7px;
		height: 7px;
		background-color: #4a4a4a;
		border-radius: 50%;
	}
}
.sex-all {
	&:before {
		left: -18px;
		top: 3px;
		width: 13px;
		height: 13px;
		position: absolute;
		display: block;
		content: '';
		border: 1px solid #4a4a4a;
		border-radius: 50%;
	}
}
.sex-man .icon-man-radio {
	position: absolute;
	left: -18px;
	top: 0px;
}
.sex-woman .icon-woman-radio {
	position: absolute;
	left: -18px;
	top: 3px;
}
.radio-inline {
	input:checked + .sex-woman, 
	input:checked + .sex-man, 
	input:checked + .sex-all {
		&:after {
			display: block;
		}
	} 
}
.dl-profile {
	.form-inline {
		.form-group {
			label {
				font-weight: normal;
			}
		}
	}
}
.form-inline-create {
	.form-control {
		border-radius: 3px;
		width: 266px;
		&.form-control-xs {
			width: 55px;
		}
	}
	.pet-price-range {
		.form-control.form-control-xs {
			width: 60px;
			text-align: right;
		}
	}
}
.form-inline-first-fix {
    margin-bottom: 28px;
    margin-top: -2px;
}
.form-inline-create {
    .form-control {
    	padding-left: 8px;
    	padding-right: 8px;
    }
}
.attribute {
  display: inline-block;
  min-width: 115px;
}
.form-inline-fix {
	margin-top: 20px;
}
.form-control-textarea {
    min-width: 721px;
    min-height: 215px;
    padding-right: 40px;
    line-height: 1.45;
    padding-left: 8px;
    padding-top: 5px;
}
.line {
	@include clearfix;
}
.input-group-create {
    width: 532px;
	margin-bottom: 16px;
	float: left;
	&:last-of-type {
		margin-bottom: 10px;
	}
	.form-control {
		border-left-color: transparent;
	}
	.input-group-addon {
    	padding: 2px 10px;
		&:last-child {
			background-color: #f1f0e4;
    		padding-right: 15px;
			color: #999;
			.glyphicon {
				color: #bdbbae;
			}
		}
		.icon-fb-big {
			position: relative;
			top: 7px;
			left: 4px;
		}
	}
}
.soc-btn {
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 3px;	
	text-align: center;
	margin-right: 7px;
	float: left;
	.iconzoopy {
		position: relative;
		top: 4px;
	}
}
.input-group-addon-vk {
	background-color: #5c82ac;
	border-color: #5c82ac;
}
.input-group-addon-ok {
	background-color: #fb8400;
	border-color: #fb8400;
}
.input-group-addon-fb {
	background-color: #335c9c;
	border-color: #335c9c;
}
.soc-btn-ok {
	background-color: #fb8400;
}
.soc-btn-vk {
	background-color: #5c82ac;
}
.soc-btn-fb {
	background-color: #335c9c;
	.icon-fb-big {
		position: relative;
		top: 10px;
		left: 4px;
	}
}
.undo-link-profile {
	position: relative;
	top: 7px;
	left: 20px;
	color: transparent;
	.iconzoopy {
		margin-right: 7px;
	}
	&:hover, &:focus {
		text-decoration: none;
		color: #999;
	}
}
