@import "bootstrap";
@import "pagination";
@import "theme";

html, body {
  min-height: 100%;
  height: 100%;
}
.form-search {
  margin-top: 15px;
}
@media (max-width: 1440px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1650px) {
  .container {
      width: 1534px;
  }
}
