.main-content {
  padding-top: 130px;
}

.navbar-filter {
  background-color: #fff;
  margin-bottom: 0;
  z-index: 1;
  top:60px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar-main {
  border: none;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  margin-bottom: 0;
  &.navbar-background {
    background-color: #91a2ad;
    border-color: #91a2ad;
    border-radius: 0;
    border: none;
  }
  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  .navbar-nav>li>a,
  .navbar-nav>.active>a, 
  .navbar-nav>.active>a:focus, 
  .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
  }
  &.affix { 
    background-color: #fff;
    .navbar-nav>li>a,
    .navbar-nav>.active>a, 
    .navbar-nav>.active>a:focus, 
    .navbar-nav>.active>a:hover {
      color: #000;
      background-color: transparent;
    }
    .navbar-brand {
      color: #91a2ad;
    }
  }
}

#map {
  width: 33.33333333%;
  position: fixed;
  top: 190px;
  bottom: 0;
  left: 0;
  background-color: rgba(109,251,106,1);
  // border-right: 1px solid rgba(0,0,0,.1);
  -webkit-box-shadow: inset -1px 0px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset -1px 0px 0px 0px rgba(0,0,0,0.1);
  box-shadow: inset -1px 0px 0px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.ftr {
  min-height: 170px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+70,e3e3e3+100 */
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8f8f8 70%, #e3e3e3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f8f8f8 70%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f8f8f8 70%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
  border-top: 1px solid #e5e5e5;
}

.wrapper {
  position: relative;
}
.footer-bgr {
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  @extend .ftr;
}
.footer {
  z-index: 1;
  position: relative;
  margin-top: 30px;
  .col-xs-12 {
    min-height: 170px;
    //@extend .ftr;
  }
}
.media {
  padding-top: 40px;
}
.main-right-column {
}