.form-search {
  margin-top: 13px;
  margin-bottom: 25px;
  .form-group {
    position: relative;
    padding-right: 43px;
  }
  .clear-input {
    position: absolute;
    right: 11px;
    top: 8px;
    fill: #999;
    cursor: pointer;
    color: #999;
    &:hover {
      fill: #666;
      color: #666;
    }
  }
  .form-control.not-empty + .clear-input {
    opacity: 1;
  }
  .form-control.empty + .clear-input {
    opacity: 0;
  }
  .form-control {
    border-color: #e5e5e5;
    padding-left: 35px;
    border-radius: 5px;
    &:hover {
      border-color: #d3d3d3;
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px #d8ef7c;
      border-color: #CCC;
    }
    &::-webkit-input-placeholder {
      color: #aeaeae;
      font-size: 14px;
    }
    &:-moz-placeholder {
      color: #aeaeae;
      font-size: 14px;
    }
    &::-moz-placeholder {
      color: #aeaeae;
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      color: #aeaeae;
      font-size: 14px;
    }
  }
}
.radio-inline {
  &:hover, &:focus {
    color: #cc3333;
  }
}

.form-control {
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/* Поиск с иконкой */
.icon-addon {
  position: relative;
  color: #555;
  display: block;
  &:after,
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  .glyphicon {
    color: #e5e5e5;
    position: absolute;
    z-index: 0; 
    left: 10px;
    font-size: 16px;
    width: 20px;
    margin-left: -2px;
    text-align: center;
    padding: 10px 0;
    top: 0;
  }
}
.fav {
  position: relative;
  color: #d3d3d3;
  right: -6px; 
}