@font-face {
    font-family: 'Flexy Regular';
    src: url('../fonts/flexy31-webfont.eot');
    src: url('../fonts/flexy31-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flexy31-webfont.woff2') format('woff2'),
         url('../fonts/flexy31-webfont.woff') format('woff'),
         url('../fonts/flexy31-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dotted {
  text-decoration: none;
  display: inline-block;
  // border-bottom: 1px dotted $text-color;
}
a {
  .dotted {
    text-decoration: none;
    display: inline-block;
    // border-bottom: 1px dotted $link-color;
    background: url(../img/point.png) repeat-x 1px bottom;
  }
  &.review_plus {
    .dotted {
      background-image: url(../img/point_lightgreen.png);
    }
  }
  &.review_minus {
    .dotted {
      background-image: url(../img/point_redminus.png);
    }
  }
  &.review_neutral {
    .dotted {
      background-image: url(../img/point_gray.png);
    }
  }
  &:hover {
    .dotted {
      text-decoration: none;
      background: url(../img/point_red.png) repeat-x 1px bottom;
      // border-bottom: 1px dotted $link-hover-color;
    }
  }
}
.label {
  .dotted {
    text-decoration: none;
    display: inline-block;
    line-height: 17px;
    background: url(../img/point_green.png) repeat-x 2px bottom;
  }
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
}
h1.watch {
  font-family: 'Flexy Regular';
  font-size: 45px;
  a {
    color: #000;
    display: inline-block;
    background: url(../img/dashed.gif) repeat-x 2px bottom;
    line-height: 41px;
    cursor: pointer;
    text-decoration: none;
    .iconzoopy {
      position: absolute;
      right: -15px;
      top: 23px;
      fill: #000;
    }
    &:hover, &:focus {
      color: #cc3333;
      text-decoration: none;
      background-image: url(../img/dashed_red.gif);
      .iconzoopy {
        fill: #C33;
      }
    }
  }
}

.text-sm {
  font-size: 12px;
  margin-bottom: 3px;
}
dl.dl-index {
  margin-bottom: 17px;
  dt {
    float: left;
    // width: ($dl-horizontal-offset - 20);
    width: ($dl-horizontal-offset - 3);
    clear: left;
    text-align: left;
    @include text-overflow;
    span {
      background-color: #fff;
      display: inline-block;
      position: relative;
      z-index: 2;
      padding-right: 2px;
    }
    position: relative;
    &:after {
      content: ' ';
      z-index: 1;
      width: 100%;
      display: block;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/point.png) repeat-x 2px bottom;
    }
  }
  dd {
    margin-left: 156px;//$dl-horizontal-offset;
  }
}
.dl-profile {
  margin-top: 31px;
  margin-bottom: 7px;
  dt {
    text-align: left;
    font-weight: bold;
    color: #000;
    width: 151px;
    padding-right: 15px;
    strong, span {
      display: block;
      color: #888888;
    }
    span {
      font-weight: normal;
    }
  }
  dd {
    padding-top: 1px;
    max-width: 1180px;
    margin-left: 151px;
    table {
      margin-left: -11px;
    }
    .btn-xs {
      margin-right: 4px;
      margin-bottom: 4px;
    }
    .tab-content {
      // margin-top: 23px;
    }
  }
}
mark, .mark {
  background-color: #fff0e9;
  padding: 0 .2em;
}
.rub {
  font-style: normal;
  font-family: 'pt_sansregular', serif;
}
.favorite {
  font-size: 19px;
  top: 2px;
  left: 0px;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  position: relative;
  .icon-star-mini {
    display: none;
  }
  &:hover, &:focus, &.active {
    .icon-star-mini {
      display: inline-block;
    }
    .icon-star-mini-normal {
      display: none;
    }
    cursor: pointer;
  }
  &:active {
    .iconzoopy-star-big-hover,
    .iconzoopy-star-big-normal {
      display: none;
    }
    .iconzoopy-star-big-active {
      display: inline-block;
    }
  }
}
.label-price {
  position: relative;
  border-radius: 4px;
  top: -2px;
  margin-right: 19px;
  padding: 2px 10px 5px 9px;
  &.label-is-price {
    top: 0px;
    margin-right: 18px;
    font-size: 19px;
    color: #000;
    padding: 1px 5px 1px;
    line-height: 24px;
    height: 24px;
    .rub {
      font-size: 15px;
      margin-left: 4px;
    }
  }
}
.text-bottom-indent {
  margin-bottom: 35px;
}
.text-bottom-indent-zero {
  margin-bottom: 0;
}
.dib {
  display: inline-block;
}
.text-top-4 {
  margin-top: 4px;
}
.text-top-3 {
  margin-top: 3px;
}
.text-bottom-36 {
  margin-bottom: 36px;
}
.caret-icon {
  font-size: 7px;
  margin-left: 7px;
}
.iconzoopy-caret {
  font-size: 8px;
  margin-left: 6px;
}
.footer-subscribe {
  margin-right: -1px;
  margin-top: -2px;
  a {
    margin: 0 0 0 9px;
    position: relative;
    top: 3px;
    &:first-child {
      margin-left: 4px;
    }
  }
}
.line-height22 {
  line-height: 2.2;
}
.text-light {
  color: #aeaeae;
}