$icomoon-font-path: "../fonts" !default;

$iconzoopy-pet-hamster: "\e901";
$iconzoopy-pet-ulitka: "\e900";
$iconzoopy-pet-ezhik: "\e902";
$iconzoopy-pet-turtle: "\e903";
$iconzoopy-pet-cat: "\e904";
$iconzoopy-pet-dog: "\e905";
$iconzoopy-pet-rabbit: "\e906";
$iconzoopy-pet-horek: "\e907";
$iconzoopy-pet-parrot: "\e908";
$iconzoopy-pet-fish: "\e909";
$iconzoopy-geopoint: "\e90a";
$iconzoopy-calendar: "\e90b";
$iconzoopy-price: "\e90c";
$iconzoopy-fb: "\e90d";
$iconzoopy-vk: "\e90e";
$iconzoopy-ok: "\e90f";
$iconzoopy-tw: "\e930";
$iconzoopy-color-vk-path1: "\e923";
$iconzoopy-color-vk-path2: "\e924";
$iconzoopy-color-ok-path1: "\e925";
$iconzoopy-color-ok-path2: "\e926";
$iconzoopy-color-fb-path1: "\e927";
$iconzoopy-color-fb-path2: "\e928";
$iconzoopy-color-tw-path1: "\e931";
$iconzoopy-color-tw-path2: "\e932";
$iconzoopy-shpritz-no-path1: "\e910";
$iconzoopy-shpritz-no-path2: "\e911";
$iconzoopy-shpritz-yes: "\e912";
$iconzoopy-search: "\e913";
$iconzoopy-pencil: "\e929";
$iconzoopy-camera-path1: "\e92c";
$iconzoopy-camera-path2: "\e92d";
$iconzoopy-X: "\e914";
$iconzoopy-woman-path1: "\e915";
$iconzoopy-woman-path2: "\e916";
$iconzoopy-man-path1: "\e933";
$iconzoopy-man-path2: "\e934";
$iconzoopy-V: "\e917";
$iconzoopy-V2: "\e918";
$iconzoopy-arrow-left: "\e92a";
$iconzoopy-arrow-right: "\e92b";
$iconzoopy-arrow-big-left: "\e92e";
$iconzoopy-arrow-big-right: "\e92f";
$iconzoopy-eye: "\e919";
$iconzoopy-key: "\e91a";
$iconzoopy-star-big-normal: "\e91b";
$iconzoopy-star-big-active-path1: "\e91c";
$iconzoopy-star-big-active-path2: "\e91d";
$iconzoopy-star-big-hover-path1: "\e91e";
$iconzoopy-star-big-hover-path2: "\e91f";
$iconzoopy-star-mini-hover-click-path1: "\e920";
$iconzoopy-star-mini-hover-click-path2: "\e921";
$iconzoopy-star-mini-normal: "\e922";

